* {
    margin: 0;
    padding: 0;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}

html { 
  background:url(../assets/background-image/bg_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
        margin:1em;
		
}

header{
    width:100%;
}

#logo{
    width:30%;
    }
    
h1{
    text-align:center;
    font-family: Monotype Corsiva;
    padding: 30px 0px 30px 0px;
    font-size: 2.5em;
    color:#f7f7f7;
    text-transform:capitalize;
    text-shadow: 2px 0 0 #000000;
	border-bottom:1.5px groove #000000;
}
section{
	width:80%;
    margin:0px auto;
	}
.form-div{
    width:48%;
	margin:0px auto;
    background-image: linear-gradient(#2605c6, #a438f3); /* Standard syntax (must be last) */
    border-radius: 10px;

}
#login-form{
    width: 80%;
    margin:0px auto;
    }
.login_form_title{
    font-family: arial;
    padding-top: 10px;
    margin-bottom: 35px;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    letter-spacing: -0.3px;
}
#logo_img{
    width: 28.8%;
    margin: 0px auto;
	padding-top:0.5em;
}

input:focus,
button:focus,
select{
    outline: none;
}
input[type=text], input[type=password], .form-row, button, .form-row-forgot-password, .form-row-button, .custom-select select{
    color: #ffffff;
    font-family: Nexa light;
}

input[type=text], input[type=password], .custom-select select{
    width: 100%;
    background: transparent;
    border: none;
    padding: 5px;
    border-bottom: 1.48px solid #ffffff;
}

.form-row, .custom-select{
    padding: 1em;
    letter-spacing: 0.1em;
}
.form-row-button{
    width: 28%;
    margin: 0px auto;
    border-radius: 25px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 5em;
}
button{
    background-color: #ffffff;
    font-size: 1em;
    border: 1px solid #ffffff;
    width: 100%;
    color: #000000;
    border-radius: 25px;
    font-family: arial;
    padding: 13px;
    font-weight: bolder;    
}
button:hover{
    color: #ffffff;
    border: 1px solid transparent;
    background-image: linear-gradient(#7579ff, #b224ef);
}
.form-row-forgot-password{
	width:35%;
	font-size:bold;
	padding-bottom:2.3em;
	margin:0px auto;
	}
#forgot_password{
	text-align:center;
	color:#fff;
	text-decoration:none;
	}
.custom-select select{
	text-transform:translate(-50px, -50px);
	width:103%;
	-webkit-appearance:button;
	font-size:16.5px;
	padding-left:20px;
	letter-spacing:0.1em;
	}
.role{
	background-color:#000000;
	}
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
	border-radius:2px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#arrow_icon img{
	position:absolute;
	top:34em;
	}
footer{
	color:#FFF;
	margin-top:2em;
	}
.pull-left{
	float:left;
	padding-right:46em;
	}
.pull-right{
	float:left;
	}
.pull-rightright{
	font-size:1em;
	color:#f4ce0f;
	font-family:arial;
	}
.val_error{
	width:100%;
	text-align:center;
	font-family:arial;
	font-size:16px;
	color:#f77272;
	}